{% extends 'accounts/auth_base.html' %}
{% block title %}Login{% endblock  %}
{% block content %}


<!--Main Navigation-->
<header>
    <style>
      #intro {
        background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
        height: 100vh;
      }
  
      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }
  
      .navbar .nav-link {
        color: #fff !important;
      }
    </style>
  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand nav-link" target="_blank" href="#">
          <strong>MDB</strong>
        </a>
        <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="#intro">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" rel="nofollow"
                 target="_blank">Learn Bootstrap 5</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank">Download MDB UI KIT</a>
            </li>
          </ul>
  
          <ul class="navbar-nav d-flex flex-row">
            <!-- Icons -->
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#" rel="nofollow"
                 target="_blank">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#" rel="nofollow" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#" rel="nofollow" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#" rel="nofollow" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  
    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
              <form method="post" class="bg-white rounded shadow-5-strong p-5">
                {% csrf_token %}
                <h2>Login</h2>
                    
                    
                <!-- Email input -->
                <div class="form-outline mb-4" data-mdb-input-init>
                  {% comment %} <input type="email" id="form1Example1" class="form-control" /> {% endcomment %}
                  {{ form.username }}
                  <label class="form-label" for="{{ form.username.id_for_label }}">Username</label>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4" data-mdb-input-init>
                  {% comment %} <input type="password" id="form1Example2" class="form-control" /> {% endcomment %}
                  {{ form.password }}
                  <label class="form-label" for="{{ form.password.id_for_label }}">Password</label>
                </div>
  
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                      <label class="form-check-label" for="form1Example3">
                        Remember me
                      </label>
                    </div>
                  </div>
  
                  <div class="col text-center">
                    <!-- Simple link -->
                    <p><small class="d-flex row">Dont have an account?<a href="{% url 'register' %}" class="mx-1"> Register</a></small></p>
                  </div>
                </div>
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block" data-mdb-ripple-init>Sign in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <!--Main Navigation-->
  
  {% endblock %}