{% extends 'order/base.html' %}
{% block title %}Order Confirmation{% endblock  %}
{% block content %}
<div class="container">
    <div class="text-center">
        <h2>Order Confirmation</h2>
        <p>Dear {{ order.first_name }} {{ order.last_name }},</p>
        <p>Thank you for your order. Your order ID is {{ order.id }}.</p>
        <p><strong>Order Details:</strong></p>
    </div>

    <div class="d-flex justify-content-center mb-4">
        <div class="card border-dark bg-transparent p-3" style="max-width: 700px; max-height: 800px; overflow-y: scroll;">
            <table class="table table-hover rounded">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in order.items.all %}
                  <tr>
                    <th scope="row">{{ item.menu_item.name }}</th>
                    <td>- &#x20A6;{{ item.menu_item.price }}</td>
                    <td>x {{ item.quantity }}</td>
                  </tr>
                {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center">
        <p><strong>Order Ref:</strong> {{ order.payment_reference }}</p>
        <p><strong>Total:</strong> &#x20A6;{{ order.get_total_cost }}</p>
        <p>We will notify you when your order status changes.</p>
        <a href="{% url 'dashboard' %}" class="btn btn-primary m-3">Return to Dashboard</a>
    </div>
</div>


{% endblock %}