{% extends 'order/base.html' %}
{% block title %}Paystack{% endblock  %}
{% block content %}
<div class="container">
    <h3 class="my-5 rounded p-3 bg-light text-center">Pay with Paystack</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" value="{{ order.first_name }} {{ order.last_name }}" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control" value="{{ email }}" readonly>
        </div>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="text" id="amount" class="form-control" value="{{ amount }}" readonly>
        </div>
        <input type="hidden" name="payment_method" value="paystack">
        <button type="submit" formaction="{% url 'paystack_payment' order.id %}" class="btn btn-primary">Proceed to Paystack</button>
    </form>
</div>
{% endblock %}